/*********************************************
**********************************************/

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: bold;
  width: 50vw;
  margin: 5%;
  padding-top: 2rem;
  user-select: none;
  background-color: #0000ff;
}