/*********************************************

**********************************************/
@font-face {
  font-family: fontOne ;
  src: url(../assets/fonts/format-1452-master/fonts/webfonts/Format_1452.woff);
}

@font-face {
  font-family: fontTwo ;
  src: url(../assets/fonts/risk-of-rain/riskofrainfont.ttf);
}

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}

#answer{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "fontTwo";
  font-size: 100px;
  top: 30%;
  z-index: 0;
}