/*********************************************

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  font-family: "Times New";
  background: rgb(194, 201, 252);
}

h1{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 40px;

}

h2{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  top: -30px;
}

#enter{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 10%;;
}