/*********************************************

description***

**********************************************/

@font-face {
  font-family: 'CP437';
  src: url(WEB/cp437-thin_8x16.woff);
}

@font-face {
  font-family: 'Aquarius';
  src: url(WEB/polyducks_12x12.woff);
}

  html{
    width: auto;
    height: auto;
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
  }
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh; 
    overflow: hidden;
    z-index: 1;
  }
  #htmlCanvas{
    position: absolute;
    top: 15vh;
    width: 100%;
  }
  #p5Canvas{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    z-index: 3;
  }
  /* drop zone */
  #droppableFrame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 3; 
  }
  #imgDropped{
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    top: 40vh;
    z-index: 5;
  }
  #fileInfo{
    display: none;
    margin-left: auto;
    margin-right: auto;
    top: 34vh;
    font-family: 'CP437';
    color: #000000;
    z-index: 5;
  }
  h1{
    display: block;
    font-family: 'CP437';
    color: #0000ff;
    font-size: 20px;
  }
  p{
    background: #a1dbbf;
  }
  span{
    font-style: italic;
    color: #0000ff;
  }
  #flowers{
    position:absolute;
    bottom:0;
    z-index: 5;
    width: 60vh;
  }


