html {
    width: auto;
    height: auto;
    background-image: url('../assets/images/background_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    z-index: 1;
  }
  #indexEntrance{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100vw;
    height: 100vh;
  }
  #arrowLeft{
    position: absolute; 
    padding: 30px;
    left: 0;
    z-index: 5;
  }
  #arrowRight{
    position: absolute; 
    padding: 30px;
    right: 0;
    z-index: 5;
  }
  .arrows:hover{
    filter:drop-shadow(5px 5px 10px #282f5e);
    z-index: 5;
  }
  .ui-tooltip {
    display: inline;
    content: "";
    min-width: 150px;
    max-height: 20px;
    margin: 20px;
    padding: 10px;
    padding-left: 15px;
    background-color: #fff0c8;
    color: #000000;
    border: 1px solid black;
    text-decoration-line: none;
    box-shadow: none;
    border-radius: 0%;
    z-index: 6;
}
  .ui-helper-hidden-accessible{
    visibility: hidden;
}
  #flowerField{
    position: absolute; 
    width: 42vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 5vh;
    z-index: 0;
  }
  #flowerField:hover{
    filter:drop-shadow(30px 30px 20px #d4d9fa);
    z-index: 5;
  }
  .pillars{
    position: absolute; 
    width: 13%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
  }
  #pillarLeft{
    margin-left: 18vw;
    bottom: 5vh;
  }
  #pillarRight{
    margin-right: 18vw;
    bottom: 5vh;
  }
  .walls{
    position: absolute; 
    width: 25%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 1;
  }
  #wallLeft{
    margin-left: 0vw;
    bottom: 6vh;
  }
  #wallRight{
    margin-right: 0vw;
    bottom: 6vh;
  }
 