/*********************************************
**********************************************/

body {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(212, 212, 55, 0.767);
  width: 50vw;
  margin: 5%;
  padding-top: 2rem;
  user-select: none;
  background-color: #0000ff;
}