/*********************************************
                                ___       _ _                                       _                    
 ___ _   _ _ __  _ __  _   _   ( _ )     (_|_)_ __ ___  _ __ ___  _   _       _ __ (_) ___ _ __ _ __ ___ 
/ __| | | | '_ \| '_ \| | | |  / _ \/\   | | | '_ ` _ \| '_ ` _ \| | | |_____| '_ \| |/ _ \ '__| '__/ _ \
\__ \ |_| | | | | | | | |_| | | (_>  <   | | | | | | | | | | | | | |_| |_____| |_) | |  __/ |  | | |  __/
|___/\__,_|_| |_|_| |_|\__, |  \___/\/  _/ |_|_| |_| |_|_| |_| |_|\__, |     | .__/|_|\___|_|  |_|  \___|
                       |___/           |__/                       |___/      |_|                         

*********************************************/

html {
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover, 40%;
  justify-content: center;
  align-content: center;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.loadingclass{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shirtOne {
  position: absolute;
  /*
  left: 705px;
  top: 420px;*/
  left: 51%;
  top: 56%;
  width: 35%;
  z-index: -1;
}

#shirtTwo{
  position: absolute;
  /*
  left: 180px;
  top: 430px;*/
  left: 13%;
  top: 58%;
  width: 30%;
  z-index: -1;
}

