html {
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover, 40%;
  justify-content: center;
  align-content: center;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* loading icon */
.loadingclass{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* shirt elements */
#shirtOne {
  position: fixed;
  left: 605px;
  top: 390px;
  width: 500px;
  z-index: -1;
}

#shirtTwo{
  position: fixed;
  left: 90px;
  top: 390px;
  width: 450px;
  z-index: -1;
}

/*  */
#rectOne{
  position: fixed;
  border: 1px dotted transparent;
  margin-left: 150px;
  margin-top: 120px;
  width: 450px;
  height: 400px;
  z-index: 2;
}

#rectTwo{
  position: fixed;
  border: 1px dotted transparent;
  right: 0;
  margin-right: 220px;
  margin-top: 50px;
  width: 470px;
  height: 450px;
  z-index: 2;
}